
@using CNW_N8_MVC.Models;
@model dynamic

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Backend.cshtml";
}

<div class="card">
    <div class="card-header"><strong>Basic Form</strong> Elements</div>
    <div class="card-body">
        <form class="form-horizontal" action="/BackendHomestay/AddHomestay" method="post" enctype="multipart/form-data">

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Tên Homestay</label>
                <div class="col-md-9">
                    <input class="form-control" id="homestay_name" type="text" name="homestay_name" placeholder="Tên Homestay">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Địa Chỉ</label>
                <div class="col-md-9">
                    <input class="form-control" id="location_id" type="text" name="location_id" placeholder="Địa Chỉ">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">Giá</label>
                <div class="col-md-9">
                    <input class="form-control" id="price" type="number" name="price" placeholder="Nhập Giá">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">Giá KM</label>
                <div class="col-md-9">
                    <input class="form-control" type="number" id="sell_price" name="sell_price" placeholder="Nhập Giá KM">
                </div>
            </div>
            
           
            <div style="color:red; font-size:20px; text-align:center" id="divThongBao"></div>
            <div class="card-footer">
                <button id="btnThem" class="btn btn-sm btn-primary" type="submit"> Submit</button>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/js/AddHomestay.js"></script>