
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Backend/Views/Shared/List.cshtml";
}

<div class="row" style="margin-top: 120px">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <h4>Đăng nhập</h4>
                <div class="regular-login-section">
                    <form id="loginForm" class="form-horizontal mt-4" method="get" action="/BackendHome/LoginCenter">
                        <div class="form-group">
                            <input type="text" class="form-control sc-input-v2" name="username" placeholder="Email address" id="username">
                            <p class="error-messages text-left error_email"></p>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control sc-input-v2" name="password" placeholder="Password" id="password">
                            <p class="error-messages text-left error_password"></p>
                        </div>

                        <button id="login" type="submit" class="btn btn-block bg-main text-white rounded-0" "><svg class="svg-inline--fa fa-spinner fa-w-16 fa-pulse d-none" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg><!-- <i class="fas fa-spinner fa-pulse d-none"></i> --> Sign In</button>
                        <p class="error-messages text-left error_incorrect"></p>
                        <div style="color:red; text-align:center; font-size:20px;" id="divThongBao"></div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<script src="~/Scripts/js/LoginBackend1.js"></script>

