
@using CNW_N8_MVC.Models;
@model dynamic

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Backend.cshtml";
}

    <div class="card">
        <div class="card-header"><strong>Basic Form</strong> Elements</div>
        <div class="card-body">
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Username</label>
                    <div class="col-md-9">
                        <input class="form-control" id="text-input" type="text" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Họ và tên</label>
                    <div class="col-md-9">
                        <input class="form-control" id="text-input" type="text" name="full_name" placeholder="Họ và tên">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="email-input">Email</label>
                    <div class="col-md-9">
                        <input class="form-control" id="email-input" type="email" name="email" placeholder="Nhập Email" autocomplete="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="email-input">Số điện thoại</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" name="phone" placeholder="Nhập số điện thoại" autocomplete="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="address">Địa chỉ</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" name="address" placeholder="Enter Email" autocomplete="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="password">Password</label>
                    <div class="col-md-9">
                        <input class="form-control" id="password-input" type="password" name="password-input" placeholder="Password" autocomplete="new-password"><span class="help-block">Please enter a complex password</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="select1">Chức vụ</label>
                    <div class="col-md-9">
                        <select class="form-control" id="select1" name="role_id">
                            <option value="0">Please select</option>
                            <option value="1">Admin</option>
                            <option value="2">Khách hàng</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                </div>
            </form>
        </div>
    </div>